---
import type { MarkdownLayoutProps } from "astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import Sidebar from "../components/sidebar/Sidebar.astro";

import { orderedPages } from "./orderedPages";

type CommonProps = {
  title: string;
  previous?: { name: string; url: string };
  next?: { name: string; url: string };
};

type Props = Partial<MarkdownLayoutProps<CommonProps> & CommonProps>;

const { title, previous, next } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header><Header title="MicroFronteds" /></header>
    <aside>
      <nav>
        <Sidebar orderedPages={orderedPages} />
      </nav>
    </aside>
    <main>
      <slot />
    </main>
    <footer>
      <Footer previous={previous} next={next} />
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --gray: 36, 41, 46;
    --white: 255, 255, 255;
    --space: 1rem;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: rgb(var(--white));
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
    background-color: rgba(var(--gray), 0.8);
  }
  blockquote {
    background: rgb(var(--accent-gradient));
    border-left: 10px solid rgb(var(--accent));
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
  blockquote p {
    font-style: italic;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar footer";
    gap: var(--space);
  }
  header {
    grid-area: header;
  }
  aside {
    grid-area: sidebar;
  }
  main {
    grid-area: main;
    padding: 0px var(--space);
  }
  footer {
    grid-area: footer;
  }
  @media screen and (max-width: 540px) {
    aside {
      display: none;
    }

    body {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main"
        "footer";
    }
  }
  a {
    color: rgb(var(--accent-light));
  }
</style>
